{% assign component = include.component %}
{% assign source = component.url | prepend: site.baseurl %}
{% assign slug = component.slug %}
{% assign title = component.slug | replace: "-", " " | capitalize %}
{% assign description = component.description | markdownify %}
{% assign html = component.content %}
{% assign liquid = component.example %}
{% assign parameters = component.parameters %}
{% assign tab_name = slug | prepend: "c-" | append: "-" | append: "-tab" %}

<div class="s-styleguide-showcase"
     id="c-{{ slug }}">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{ title }}
      </h2>
    </div>
    
    <div class="panel-body">
      {{ description }}

      <table class="table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        {% for parameter in parameters %}
          {% assign parameter_name = parameter[0] %}
          {% assign parameter_desc = parameter[1] | markdownify %}
          <tr>
            <td><code>{{ parameter_name }}</code></td>
            <td>{{ parameter_desc }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs"
          role="tablist">
        <li role="presentation"
            class="active">
          <a href="#{{ tab_name }}-demo"
             aria-controls="{{ tab_name }}-demo"
             role="tab"
             data-toggle="tab">Demo</a>
        </li>
        <li role="presentation">
          <a href="#{{ tab_name }}-liquid"
             aria-controls="{{ tab_name }}-liquid"
             role="tab"
             data-toggle="tab">Liquid</a>
        </li>
        <li role="presentation">
          <a href="#{{ tab_name }}-html"
             aria-controls="{{ tab_name }}-html"
             role="tab"
             data-toggle="tab">HTML</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel"
             class="tab-pane active"
             id="{{ tab_name }}-demo">
          <div class="s-styleguide-showcase__component">
            <iframe src="{{ source }}" title="{{ title }}"></iframe>
          </div>
        </div>

        <div role="tabpanel"
             class="tab-pane"
             id="{{ tab_name }}-liquid">
          <div class="s-styleguide-showcase__component">
            {% highlight liquid %}{{ liquid }}{% endhighlight %}
          </div>
        </div>

        <div role="tabpanel"
             class="tab-pane"
             id="{{ tab_name }}-html">
          <div class="s-styleguide-showcase__component">
            {% highlight html %}{{ html }}{% endhighlight %}
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
